// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";;
@import 'styles';



.bg-gradient-primary {
    background: #020;
}
$primary:#03B2AD;
.header.shop {
    .header-inner{
        background-color: #020 !important;
    }
}
.footer-logo {
    margin-top: 60px;
    margin-bottom: 12px;
}
